{# templates/footer.html.twig #}

<footer>
    <hr>
    <a href="https://github.com/TheoHem/mvc-report" target=”_blank”>Github</a> | 
    <a href="http://www.student.bth.se/~thhe20/dbwebb-kurser/mvc/me/report" target=”_blank”>Studentservern</a>
    <br>
    <br>
</footer>
</html>