{# templates/index.html.twig #}


{% include('header.html.twig') %}

<body>
    <h2>Presentation</h2>
    <p>
        Hej!
        Mitt namn är Theo och jag bor i Södertälje. Jag jobbar med att testa växellådor på Scania och läser den här kursen för att 
        bredda mina kunskaper inom datavetenskap.
        <br>
        <img src="img/svampbob.jpg" alt="Svampbob" width="200">
    </p>
</body>

{% include('footer.html.twig') %}
